In [1]:
import pandas as pd

In [2]:
file = "Resources/purchase_data.csv"
pymoli_df = pd.read_csv(file)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Player Count
player_count = len(pymoli_df["SN"].value_counts())

total_players = pd.DataFrame({"Total Players": [player_count]})
total_players

   Total Players
0            576

In [4]:
pymoli_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [5]:
#Purchasing Analysis (Totals)
purchase_analysis = {
    "Number of Unique Items": [len((pymoli_df["Item ID"]).unique())], 
    "Average Price": [pymoli_df["Price"].mean()],
    "Number of Purchases": [(pymoli_df["Purchase ID"]).count()], 
    "Total Revenue": [(pymoli_df["Price"]).sum()]
}

total_revenue = pd.DataFrame(purchase_analysis, columns=[
    "Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"])
total_revenue

total_revenue['Average Price'] = total_revenue['Average Price'].map("${:.2f}".format)
total_revenue['Total Revenue'] = total_revenue['Total Revenue'].map("${:,.2f}".format)
total_revenue.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [6]:
#Gender Demographics
gender_demo = pymoli_df.groupby("Gender")

gender_count = gender_demo.nunique()["SN"]
gender_per = gender_count / player_count * 100

gender_df = pd.DataFrame({"Total Count": gender_count,
                          "Percentage of Players": gender_per})

gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:.2f}".format)
gender_df.sort_values(["Total Count"], ascending = False)

                       Total Count Percentage of Players
Gender
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91

In [7]:
#Purchasing Analysis (by gender)
pur_count = gender_demo["Purchase ID"].count()
avg_price = gender_demo["Price"].mean()
avg_total = gender_demo["Price"].sum()
avg_pur = avg_total/gender_count

gen_analysis = pd.DataFrame({"Purchase Count": pur_count, 
                             "Average Purchase Price": avg_price, 
                             "Total Purchase Value": avg_total, 
                             "Avg Purchase Total per Person": avg_pur})

gen_analysis["Average Purchase Price"] = gen_analysis["Average Purchase Price"].map("${:,.2f}".format)
gen_analysis["Total Purchase Value"] = gen_analysis["Total Purchase Value"].map("${:,.2f}".format)
gen_analysis["Avg Purchase Total per Person"] = gen_analysis["Avg Purchase Total per Person"].map("${:,.2f}".format)
gen_analysis.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [8]:
#Age Demographics
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

pymoli_df["Age"] = pd.cut(pymoli_df["Age"], bins, labels=group_names)

age_demo = pymoli_df.groupby("Age")
age_total = age_demo["SN"].nunique()
age_per = age_total/player_count * 100

age_df = pd.DataFrame({"Total Count": age_total,
                      "Percentage of Players": age_per})

age_df["Percentage of Players"] = age_df["Percentage of Players"].map("{:.2f}".format)
age_df

       Total Count Percentage of Players
Age
<10             17                  2.95
10-14           22                  3.82
15-19          107                 18.58
20-24          258                 44.79
25-29           77                 13.37
30-34           52                  9.03
35-39           31                  5.38
40+             12                  2.08

In [9]:
#Purchasing Analysis (by age)
age_count = age_demo["Purchase ID"].count()
age_price = age_demo["Price"].mean()
age_total_pur = age_demo["Price"].sum()
age_pur = age_total_pur/age_total

age_analysis = pd.DataFrame({"Purchase Count": age_count, 
                             "Average Purchase Price": age_price, 
                             "Total Purchase Value": age_total_pur, 
                             "Avg Purchase Total per Person": age_pur})

age_analysis["Average Purchase Price"] = age_analysis["Average Purchase Price"].map("${:,.2f}".format)
age_analysis["Total Purchase Value"] = age_analysis["Total Purchase Value"].map("${:,.2f}".format)
age_analysis["Avg Purchase Total per Person"] = age_analysis["Avg Purchase Total per Person"].map("${:,.2f}".format)
age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Age,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [10]:
#Top Spenders
top_spender = pymoli_df.groupby("SN")
spender_count = top_spender["Purchase ID"].count()
spender_avg_pur = top_spender["Price"].mean()
spender_total = top_spender["Price"].sum()

top_df = pd.DataFrame({"Purchase Count": spender_count,
                      "Average Purchase Price": spender_avg_pur,
                      "Total Purchase Value": spender_total})

top_df["Average Purchase Price"] = top_df["Average Purchase Price"].map("${:,.2f}".format)
top_df["Total Purchase Value"] = top_df["Total Purchase Value"].map("${:,.2f}".format)
top_df

spender_analysis = top_df.sort_values(by=["Purchase Count", "Average Purchase Price", "Total Purchase Value"], ascending=False)
spender_analysis.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Iral74                    4                  $3.40               $13.62
Chamjask73                3                  $4.61               $13.83
Iskadarya95               3                  $4.37               $13.10

In [11]:
#Most Popular Items

#Retrieve the Item ID, Item Name, and Item Price columns
items = pymoli_df[["Item ID", "Item Name", "Price"]]

#Group by Item ID and Item Name
popular_items = pymoli_df.groupby(["Item ID", "Item Name"])

item_count = popular_items["Price"].count()
item_tvalue = popular_items["Price"].sum()
item_price = item_tvalue/item_count

most_popular = pd.DataFrame({"Purchase Count": item_count,
                            "Item Price": item_price,
                            "Total Purchase Value": item_tvalue})

most_popular["Item Price"] = most_popular["Item Price"].map("${:,.2f}".format)
most_popular["Total Purchase Value"] = most_popular["Total Purchase Value"].map("${:,.2f}".format)
most_popular

item_analysis = most_popular.sort_values(by=["Purchase Count"], ascending=False)
item_analysis.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [12]:
#Most Profitable Items
item_analysis = most_popular.sort_values(by=["Purchase Count", "Item Price", "Total Purchase Value"], ascending=False)
item_analysis.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
92,Final Critic,8,$4.88,$39.04

In [13]:
#Sources:
    #Percentage of unique values syntax (https://stackoverflow.com/questions/50558458/pandas-percentage-by-value-in-a-column)
    #Data Wrangling with Pandas Cheat Sheet (http://pandas.pydata.org)
    #Python for Data Science Cheat Sheet: Pandas Basics (www.DataCamp.com)
    #Pandas PyData (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html)